.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.heading {
  font-size: 3.6rem;
  font-weight: 600;
  color: #05006d;
  margin: auto;
  text-align: center;
  margin-top: 80px !important;
  margin-bottom: 30px !important;
}

.sec2{
  padding-bottom: 30px;
}

.h3{
  margin-top:14px;
}